@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-transparent: 240 240 240;
    }
}

.no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }
  
  .no-visible-scrollbar::-webkit-scrollbar {
    display: none;
  }
  